<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<!-- thymeleaf 가 적용이 안되어서 파싱을 안해서 hasRole이 안먹히는 거 였다.-->
<h3 th:text="${sessionId}"></h3>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="authorities"></span>
    principal: <span sec:authentication="principal.authorities"></span>


    <div>
        <a href="/logout">logout</a>
    </div>
</div>


<h1>Hello Spring Security</h1>
<p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
<ul>
    <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured pages</a></li>
</ul>
<a href="/some">go some</a>
</body>
</html>